@import '../../Variables.scss';

.battle-history {
  display: flex;
  flex-direction: row;
  padding: 16px;
  transform: translateX(400%);
  color: white;

  @include createAnimation(slideFromLeft 0.6s forwards);

  &__table {
    border-collapse: collapse;

    &__thead {
      > tr {
        > th {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bolder;
          padding: 10px 0;
          color: $lighterGreen;
        }
      }
    }

    &__row {
      > td {
        text-align: center;
        padding: 15px 0;
        font-size: 16px;
      }

      &:nth-child(even) {
        background-color: $darkGray;
      }

      &:nth-child(odd) {
        background-color: $lightGray;
      }
    }
  }
}

@media (min-width: $minDesktopRange) {
  .battle-history {
  }
}
