@import './Variables.scss';

* {
  @include animate_all_properties;
}

html {
  box-sizing: border-box;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
}

body {
  font-family: 'Didact Gothic' !important;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Didact Gothic' !important;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $lightGray;
  position: relative;
}
